# --- SBT / Scala ---
target/
project/target/
project/project/
.global/
.metals/
.bloop/
.bsp/
.ensime_cache/
.worksheet/

# --- IDEs ---
.idea/
*.iml
.vscode/

# --- macOS / SO ---
.DS_Store
*.swp

# --- Spark / Hive local ---
spark-warehouse/
metastore_db/
derby.log
derby.log.*
*.lck
*.log

# --- Salidas de la app ---
output/
result_*/
**/*.crc

# Si no quieres versionar parquets locales:
# (descomenta si procede)
# **/*.parquet

# --- Reports temporales / CI ---
test-reports/
task-temp-directory/
